.petSprite {
  position: relative;
  height: auto;
  width: 1905px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  /* margin-top: 8rem; */
  /* border: 1px solid black; */
}

.spriteImage {
  width: 400px;
  height: auto;
}
