.homeContainer {
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  /* padding: 1rem; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* overflow: hidden; */
  /* border: 1px solid blue; */

}

.hero {
  display: flex;
  /* margin-top: 2rem; */
}

.heroCopy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: .6rem;
    /* border: 1px solid blue; */

}

.homeEyebrow {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 300;
  color: var(--primary-color);
}

.homeHeader {
  font-size: 3rem;
  /* font-size: clamp(1.8rem, 6vw, 3rem); */
  line-height: .9;
  font-family: 'Pixelify Sans', sans-serif;
  text-transform: uppercase;
  color: var(--shade);
  /* margin: 0 auto; */
}

.homeParag {
  font-size: 0.7rem;
  font-weight: 300;
  color: var(--primary-color);
  margin-top: 1.3rem;
}

/* h1 {
  font-size: 3rem;
  font-size: clamp(1.8rem, 6vw, 3rem);
  line-height: .9;
  font-family: 'Pixelify Sans', sans-serif;
  text-transform: uppercase;
  color: #614234;
  margin: 0 auto;
} */

/* .appHeader {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 400;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  color: #614234;
} */

.planet {
  max-width: 90px;
  position: absolute;
  top: 13rem;
  left: 7rem;
}

.clouds {
  max-width: 90px;
  position: absolute;
  top: 6rem;
  left: 8rem;
  opacity: .7;
}

.rightImg {
  z-index: 10;
  position: relative;
  max-width: 200px;
}

.cloud {
  max-width: 180px;
  top: 6rem;
  right: 0.4rem;
  position: absolute;
  opacity: .8;
}

.btn3d {
  padding: .3rem 1rem;
  width: 8rem;
  /* background-color: #f1d235; */
  border: 1px solid var(--primary-color);
  /* color: rgb(17, 17, 17); */
  border-radius: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-size: .5rem;
  letter-spacing: .2rem;
  font-weight: 500;
  background-color: transparent;
    color: var(--primary-color);

}

.btnContainer {
  width: 70%;
  max-width: 428px;
  display: flex;
  justify-content: space-between;
  /* margin-top: 1rem; */
      /* border: 1px solid blue; */

}

/* .btn3d::after {
  content: '';
  position: absolute;
  height: 120%;
  width: 102%;
  border-radius: 1000px;
  background-image: linear-gradient(to bottom right, #fffb00, #ff3300);
  z-index: -1;
} */

.btn3d:hover {
  z-index: 0;
  /* box-shadow: 40px 0 100px #ff3300, -40px 0 100px #fffb00; */
}

.btn3d:active {
  /* box-shadow: 0 3px rgb(204, 58, 0); */
  transform: translateY(3px);
}

/* .introText {
  text-align: left;
  font-size: .8rem;
  margin-top: -5rem;
  width: 12rem;
  color: #614234;
  font-weight: 400;

} */