.signContainer {
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

/* Shared headings */
.heading,
.heading2 {
  font-size: 2.8rem;
  line-height: .8;
  letter-spacing: -.1rem;
  font-family: 'Pixelify Sans', sans-serif;
  text-transform: uppercase;
  color: var(--shade);
  text-align: center;
  max-width: 428px;
  width: 100%;
}

.heading {
  margin-top: -1.7rem;
}

.heading2 {
  margin-top: -.1rem;
}



.switchBtn {
  margin-top: 1rem;
  background: none;
  border: none;
  color: var(--shade);
  font-size: 0.7rem;
  cursor: pointer;
  text-decoration: underline;
}
